/* .title {
  text-align: center;
}
.game-body {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 0.1fr 2fr;
  gap: 20px;
}
.board-titles {
  margin-left: 150px;
  margin-right: 150px;
  grid-column: span 3;
  display: flex;
  justify-content: space-between;
}
.user-board {
}
.user-grid {
  justify-self: end;
} 

/* .user-title{
    justify-self: end;
    margin-right: 20%;
}
.user-grid,
.openant-grid {
  border: 1px solid black;
  min-width: 10%;
  max-width: 20%;
  max-width: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.cell,
.ship-body-unit {
  border: 1px solid black;
  width: 50px;
  height: 50px;

  cursor: pointer;
}

.user-ships {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-self: end;
  gap: 10px;
  height: fit-content;
}
.ship-body {
  border: 1px solid black;
  display: flex;
  width: fit-content;
}
.ship-body-unit {
  background-color: rgba(0, 0, 0, 0.402);
}

.dragOver {
  background-color: black;
}
.ship-placed {
  background-color: blue;
}
.ship-placed:hover {
  background-color: blue;
}
.ship-button,
.start-button {
  padding: 10px 20px;
  background-color: #3498db; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.ship-button:hover,
.start-button:hover {
  background-color: #3e82b0; 
}
.start-button {
  display: none;
}

.missedAttack {
  background-color: blue;
}
.attacked {
  background-color: red;
}
.cell:hover {
  background-color: rgba(255, 255, 255, 0.351);
} */
.title {
  text-align: center;
}
.game-body {
  border: 1px solid green;
  margin: 2%;
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
}
.board-titles {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
margin-left: 5%;
margin-right: 5%;
}
.board-container {
  display: flex;
  justify-content: space-around;

}
.user-board,
.openant-board {
  border: 1px solid;
  margin: 1%;
  height: fit-content;
width: fit-content;
  display: grid;
  grid-template-columns: repeat(10,1fr);
}
.multi-purpose-board {
  height: 500px;
  width: 200px;
  border: 1px solid blue;
  margin: 1%;
}
.cell{
  height: 50px;
  width: 50px;
  background-color: aqua;
  border: 1px solid white;
  cursor: pointer;
}
.cell:hover{
 scale: 1.1;
 background-color: rgb(0, 225, 255);
}
.Carrier {
  background-color: green;
}
.BattleShip {
  background-color: rgb(220, 20, 143);
}
.Submarine {
  background-color: black;
}
.Destroyer {
  background-color: purple;
}
.Cruiser {
  background-color: brown;
}

